MONGO_URI=mongodb://admin:secretpassword@localhost:27017/nomsydb?authSource=admin
TEST_MONGO_URI=mongodb://admin:secretpassword@localhost:27017/nomsydb_test?authSource=admin
JWT_SECRET=change-me
PORT=3001
